[Desktop Entry]
Version=1.0
Type=Link
Name=Cлужбу поддержки >  help.nfm.com.ua
Comment=\shelp.nfm.com.ua
Icon=xfce4-indicator-plugin
URL=https://help.nfm.com.ua
